
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap');

/* basic typography setup start */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #000;
}
:root{
    --text-color:#fff;
    --btn-back:rgb(230, 83, 60);
    --paragraph-text:rgba(255, 255, 255, 0.5);
}
/* basic typhography setup end */
/* header section design start */
.container{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.header-section{
    max-width: 1060px;
    margin-top: 30px;
}
.navbar i{
    color:#fff;
    font-size: 32px;
    display: none;
}
.header-section h2{
    font-size: 36px;
    font-weight: 800;
   color: var(--btn-back);
}

.hero-section{
    max-width: 1060px;
}
.hero-section .hero-left{
    max-width: 520px;
}
.hero-left h1{
    font-size: 78px;
    font-weight: 900;
    color:var(--text-color);
}
.hero-left h1 span{
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-size: 88px;
}
.hero-left p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top:28px;
}
.button-section{
    margin-top: 38px;
}

.hero-section .hero-right{
    margin-top: 32px;
    position: relative;
}
.navbar ul{
    border:1px solid rgba(255, 255, 255, 0.089);
    padding:8px 0px;
    border-radius: 18px;
}
  .video{
    padding:10px 25px;
    border-radius: 15px;
    width: 193px;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .card1 {
    top:125px;
    right: -74px;
  }
  .card2 {
    bottom: 63px;
    left: -113px;
    
  }
  .card2 .text h1{
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
  }
    .card2 .logo{
    height: 2.2rem;
    width: 2.2rem;
    border-radius:50%;
    background-color: var(--btn-back);

  }
  .video h1{
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    color: var(--text-color);
    letter-spacing: 1px;
  }
  .video small{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.65);
  }
/* header section design end */

/* main section design start */
.habbit-section {
    width: 1044px;
    margin: 100px auto;
    text-align: center;
}
.habbit-header{
    width: 670px;
}
.head-text p{
    margin-top: 14px;
}
.img-container{
    text-align:center;
    width: 200px;
    margin-top:58px;
}
.img-container img{
    border-radius: 50%;
    border:5px solid #d1cece28;
}
.habbit-text{
    margin-top:30px;
}
.habbit-text h2{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 120%;
    color:var(--text-color);
}
.extra-run{
    border-radius: 20px;
    width: 1060px;
    background: rgb(34, 34, 34);
}
.extra-run .left{
    width: 443px;
    padding:40px 0px 40px 54px;
}
.extra-run .left p{
    margin: 14px 0px 34px;
}
.extra-run .right{
    padding: 25px;
}
.extra-run .right img{
    object-fit: none;
    object-position: 67% 34%;
    width: 24rem;
    height: 22rem;
    border-radius: 20px;
}
/* calculator section design start */
.bmi-calculator-section{
    max-width: 1344px;
    margin:88px auto;
    /* min-height: 300px; */
}
.bmi-title{
    width: 576px;
    /* min-height: 100px; */
    margin:66px auto;
}
.bmi-footer{
    max-width: 1344px;
    min-height: 500px;
    margin:0 auto;
    background: rgb(34, 34, 34);
}
.bmi-footer-container{
    max-width: 1020px;
    min-height: 300px;
    margin:52px auto;
}
.bmi-footer-left, .bmi-footer-right{
    max-width: 550px;
    /* min-height: 200px; */
    margin: 52px auto 0px;
}
.bmi-footer-left-title{
    margin-bottom: 52px;
}
.bmi-table {
    border-collapse: collapse;
}
.bmi-head{
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    color:var(--text-color);
  
}
.bmi-para{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: var(--paragraph-text);
    margin-top: 14px;
}
.bmi-footer-right p{
    margin:14px 0px 34px 0px;
}
input::placeholder, option, select{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--paragraph-text);
}
option, select, input{
    background-color: rgb(79, 79, 82);
}
input, .sel1{
    padding: 12px 40px 12px 20px;
    border:none;
    margin:5px;
    width: 240px;
    border-radius:8px;
}
input{
    color:#ffff;
}
.sel1{
    padding: 10px 40px 10px 10px;
}
.sel2{
    margin-left: 200px;
    padding: 10px 40px 10px 10px;
    border:none;
    width: 92%;
    border-radius:8px;
    margin:5px auto 34px;
}


.bmi-table th, .bmi-table td {
    padding: 12px 15px;
    border: 1px solid #444;
    text-align: left;
    color: #aaa;
}
/* my-section design start */
.my-section{
    
    max-width: 1060px;
    /* border:1px solid #fff; */
    /* min-height: 400px; */
    margin:60px auto;
}
.my-section-title{
    margin: 0 auto;
    width: 650px;
    text-align: center;
}
.my-section-footer{
    width: 100%;
    /* border:1px solid #fff; */
    /* min-height: 400px; */
    margin:50px auto 0px;
    display: flex;
    flex-wrap: wrap;
}
.my-div1{
    position:relative;
    /* height: 400px; */
    width: 264px;
    /* border:1px solid red; */
    background:linear-gradient(rgba(64, 185, 255, 0.37),rgba(28, 210, 255, 0.329)), url("../images/img1.jpg");
    transition: 0.4s;
}
.div1-title{
    text-align: center;
    margin-top: 100px;
}
.div1-title p{
    color:rgb(255, 255, 255);
}
.my-div1 a{
    position:absolute;
    bottom:60px;
    left:50%;
    transform: translate(-50%);
}
.my-div2{
    position:relative;
    /* height: 400px; */
    width: 264px;
    /* border:1px solid red; */
    background:linear-gradient(rgba(255, 177, 59, 0.37),rgba(255, 213, 74, 0.329)), url("../images/img2.jpg");
}
.di2-title{
    text-align: center;
    margin-top: 100px;
}
.div2-title p{
    color:rgb(255, 255, 255);
}
.my-div2 a{
    position:absolute;
    bottom:60px;
    left:50%;
    transform: translate(-50%);
}
.my-div3{
    position:relative;
    /* height: 400px; */
    width: 264px;
    /* border:1px solid red; */
    background:linear-gradient(rgba(85, 255, 156, 0.37),rgba(63, 255, 143, 0.329)), url("../images/img3.jpg");
}
.div3-title{
    text-align: center;
    margin-top: 100px;
}
.div3-title p{
    color:rgb(255, 255, 255);
}
.my-div3 a{
    position:absolute;
    bottom:60px;
    left:50%;
    transform: translate(-50%);
}
.my-div4{
    position:relative;
    height: 400px;
    width: 264px;
    /* border:1px solid red; */
    background:linear-gradient(rgba(137, 222, 255, 0.37),rgba(137, 228, 255, 0.329)), url("../images/img4.jpg");
}
.div4-title{
    text-align: center;
    margin-top: 100px;
}
.div4-title p{
    color:rgb(255, 255, 255);
}
.my-div4 a{
    position:absolute;
    bottom:60px;
    left:50%;
    transform: translate(-50%);
}

/* my-section design end */
/* team-member section design start */
.team-member{
    /* min-height: 50px; */
    max-width: 1060px;
    margin:88px auto;
}
.team-member .header{
    margin:0 auto;
    max-width: 671px;
    text-align: center;
}
.team-member .header h1{
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
.team-member .header p{
    color: var(--paragraph-text);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin-top: 14px;
}
.team-member .footer{
    max-width:100%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 78px;
}
.team-member .footer .id-container img{
    width: 326px;
    height:272px;
    object-fit: cover;
    border-radius: 16px;
    
}
.team-member .footer .id-container{
    position:relative;
}
.team-member .footer .id-container .title{
    position:absolute;
    bottom: 30px;
    left: 20px;
}
.title h3{
    font-size: 16px;
    color:var(--text-color);
    font-weight: 700;
    letter-spacing: 0.3px;
}
.team-member .footer{
    flex-wrap: wrap;
    gap:20px;
    padding:20px;
}
/* team-member section design end */
/* main section design end */

/* footer section design start */
.footer-container{
    max-width: 1440px;
}
 .footer-left{
    max-width: 443px;
}
.footer-left h1{
    font-size: 70px;
    font-weight: 800;
    line-height: 120%;
    color:var(--btn-back);
    margin-bottom: 20px;
}
.footer-center, .footer-right{
    width: 250px;
}

.footer-center h2, .footer-right h2{
    color:var(--text-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    margin:0px 0px 38px 25px;
    display: inline-block;
}
.footer-center li, .footer-right li{
    list-style: none;
    margin-bottom:20px;
}
.links a{
    color:var(--paragraph-text);
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    
}
.footer-container .header{
    margin:66px auto 80px;
    max-width: 1060px;
}
hr{
    border: 1px solid #444;
    max-width: 1060px;
    margin: 0px auto;
}
.reserved h4{
    margin: 36px auto;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: var(--paragraph-text);
}
/* footer section design end */


/* component section start */

a{
    border-radius: 18px;
    text-decoration:none;
    padding: 8px 25px;
    font-size: 18px;
    font-weight: 600;
    color:var(--text-color);
}

.p-text{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    color:var(--paragraph-text);
    letter-spacing: 0.3px;
}
.head-text{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    color:var(--text-color);

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.back{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* .prnt-bdr{
    border:1px solid red;
} */
.btn-back{
    background-color:rgb(230, 83, 60);
}
.btn{
    padding:14px 52px;
    border-radius:25px;
}
.round{
    border-radius:50%;
}
.btn2{
    border:1px solid #fff;
    margin-left:15px;
}
button{
    background: none;
    border:none;
    color:#fff;
    font-size: 18px;
    cursor:pointer;
}
.chld-bdr{
    border:1px solid black;
}
.style-none{
    list-style: none;
}
.deco-none{
    text-decoration: none;
}
.f-column{
    flex-direction: column;
}
.d-block{
    display: block;
}
.d-inline{
    display: inline;
}
.bdr-none{
    border:none;
}
.back-none{
    background: none;
}
.pointer{
    cursor: pointer;
}
.m-auto{
    margin: 0px auto;
}
.out-none{
    outline:none;
}
.t-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
/* component sectton end */



/* 
 } */
